body {
    background-color: black;
}

h1{
     background-color: green;
    color: RED;
    margin-left: 50px;

div {
    background-color: lightblue;
    width: 200px;
    padding: 25px;
    border: 25px solid navy;
    margin: 25px;
}
}


